<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.OrderDataMapper">

    <resultMap id="OrderDataResultMap" type="com.demo.model.OrderDataDo">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="timestamp" jdbcType="BIGINT" property="timestamp"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>

    <select id="getAllOrders" resultMap="OrderDataResultMap">
        SELECT *
        FROM orders
        ORDER BY timestamp DESC
    </select>


    <insert id="insert">
        INSERT INTO orders(id, status, quantity, timestamp, price, type)
        VALUES (#{id}, #{status}, #{quantity}, #{timestamp}, #{price}, #{type})
    </insert>
</mapper>
